* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.iziToast.my-toast {
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.03em;
    color: #fafafb;
    border-radius: 4px;
    
}

.loader {
    margin: 15px auto;
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #4e75ff transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form {
    display: block;
    margin: 36px auto 0px auto;
}
.form input[name="search-text"] {
    border-radius: 4px;
    padding: 8px 16px;
    width: 272px;
    height: 40px;
    margin-right: 8px;
    outline: none;
    border: 1px solid #808080;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    transition: border 250ms ease-in;
}
.form input[name="search-text"]::placeholder {
    color: #808080;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em
}
.form input[name="search-text"]:hover {
    border: 1px solid #000;
}
.form input[name="search-text"]:focus {
    border: 1px solid #4e75ff;
    background-color: #fff;
}
.form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 250ms ease-in;
}
.form button:hover {
    background-color: #6c8cff;
}
.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 32px 156px;
}
.gallery-card {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
}

.card-photo {
    width: 100%;
    max-height: 152px;
    object-fit: cover;
}
.card-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 25px 4px 20px;
}
.card-list li {
    text-align: center;
}
.card-list li h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}
.card-list li p {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42
}